html, body {
  height: 100%
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-header-pic {
  width: 25% !important;
}

.jumbo {
  background-color: white !important;
  margin-top: 7%;
  margin-bottom: 10%;
}

.jumbo-left {
  background-color: white !important;
}

.jumbo-left-align {
  margin-left: 10%;
  margin-right: 10%;
}


.main-header-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px !important;
}

.main-header-subtitle-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px !important;
}

.social-icon {
  margin-right: 30px;
}

.social-space {
  margin-top: 25px !important;
}
